[submodule "moonraker/upstream/Arksine/moonraker"]
	path = moonraker/upstream/Arksine/moonraker
	url = https://github.com/Arksine/moonraker
[submodule "klipper/upstream/Klipper3d/klipper"]
	path = klipper/upstream/Klipper3d/klipper
	url = https://github.com/klipper3d/klipper
[submodule "klipper/upstream/EtteGit/EnragedRabbitProject"]
	path = klipper/upstream/EtteGit/EnragedRabbitProject
	url = https://github.com/EtteGit/EnragedRabbitProject
[submodule "ustreamer/upstream/pikvm/ustreamer"]
	path = ustreamer/upstream/pikvm/ustreamer
	url = https://github.com/pikvm/ustreamer
[submodule "pi-image/packer-builder-arm"]
	path = pi-image/packer-builder-arm
	url = https://github.com/mkaczanowski/packer-builder-arm
